#contact-main {
  display: flex;
}

#contact {
  padding: 1rem;
}

form {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

form>fieldset {
  display: flex;
  flex-direction: column;
  
  width: min-content;

  gap: 0.3rem;
}


/* this code is from pricing.css */
/* I didnt need the whole css file */
/* so I copied this */
#products {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#products>a>img {
  width: 14rem;
}

#article-info {
  padding: 14px;
}