#contact-main {
  display: flex;
}

form {
  flex-grow: 1;
}


/* this code is from pricing.css */
/* I didnt need the whole css file */
/* so I copied this */
#products {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#products>a>img {
  width: 14rem;
}

#article-info {
  padding: 14px;
}