table,
td {
  /* this puts a "double border" */
  /* that is simply because one border is applied to table */
  /* other one is applied to each cell */
  border: 1px solid white;
}

td {
  padding: 1rem;
}

#pricing-info {
  display: flex;
}

table {
  flex-grow: 1;
}

#products {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#products>a>img {
  width: 14rem;
}

#article-info {
  padding: 14px;
}